@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Poppins', sans-serif;
}

/* ------loader section */
.preloader
{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 50;
    position: fixed;
    color:#000000;
}

.preloader > img
{
    width: 100px;
    height: 100px;
    margin: auto;
    animation: anim 1s linear infinite;
}

@keyframes anim {
    0%{
        transform: scale(.2);
    }
    25%{
        transform: scale(.4);
    }
    50%{
        transform: scale(.6);
    }
    75%{
        transform: scale(.8);
    }
    100%{
        transform: scale(1);;
    }
}
/* -------------- Pop Up -------------- */
.pop
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    z-index: 150;
}

.pop-container
{
    width: 20%;
    padding: 15px;
    height: 70px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    margin: auto;
    color: rgb(1, 95, 1);
}

.pop-container h3
{
    margin: auto;
}

@media (max-width: 750px) 
{
    .pop-container
    {
        width: 40%;
    }    
}
/* ---------- Signup modal ------------ */
.signup-modal
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    z-index: 100;
}

.signup-container
{
    max-width: 500px;
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    animation: modal .5s linear;
    transition: .5s ease;
}

.signup-container h3
{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form input
{
    width: 80%;
    margin-bottom: 25px;
    padding: 0 5px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgb(1, 95, 1);
    font-family: 'Poppins', sans-serif;
}

.modal-form input:focus
{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(1, 95, 1);
}

.modal-form button
{
    width: 65%;
    background-color: rgb(1, 95, 1);
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.modal-form button:hover
{
    background-color: rgb(1, 17, 1);
}

.signup-container img
{
    cursor: pointer;
    width: 20px;
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
}

#signup-modal.active
{
    display: flex;
}

@media(max-width: 550px)
{
    .signup-container
    {
        width: 80%;
    }
}

@keyframes modal {
    0%{
        transform: scale(.2);
    }
    25%
    {
        transform: scale(.4);
    }
    50%
    {
        transform: scale(.6);
    }
    75%{
        transform: scale(.8);
    }
    100%
    {
        transform: scale(1);
    }
}
/* ---------- navbar section  --------- */
.navbar-container
{
    display: flex;
    max-width: 1100px;
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.nav-links
{
    display: flex;
}

.nav-img
{
    width: 100px;
    height: 100px;
}

.nav-links li
{
    list-style: none;
}

.nav-links li a
{
    text-decoration: none;
    padding: .7rem;
    color: #000000;
}

.nav-links li a:hover
{
    color: #e45c02;
}

.toggle-btn
{
    display: none;
    height: 21px;
    width: 32px;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 2.2rem;
    right: 6.2rem;
    align-items: flex-end;
}

.btn-btn
{
    width: 100%;
    height: 3px;
    border-radius: 8px;
    background-color: #000000;
    transition: .5s ease;
}

#btn-2
{
    width: 75%;
}

#btn-3{
    width: 50%;
}

#btn-2.active,
#btn-3.active
{
    width: 100%;
}

.inner-link
{
    background-color: #e45c02;
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 10px 20px 10px #cccccc
                -10px 20px 10px #9e9c9c;
}

.inner-link li
{
    margin-bottom: 10px;
    width: 100%;
}

.inner-link li a
{
    color: #ffffff;
    padding: 5px;
    width: 100%;
}

.inner-link li a:hover
{
    color: rgb(1, 95, 1);
}

#inner-link-1.active
{
    display: flex;
    flex-direction: column;
}

#inner-link-2.active
{
    display: flex;
    flex-direction: column;
}


/* .inner-link li a:hover
{
    color: #000000;
    background-color: #ffffff;
} */

@media (max-width: 960px)
{
    .nav-item:last-child
    {
        display: none;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .toggle-btn
    {
        display: flex;
    }

    .navbar-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item:last-child.active
    {
        display: flex;
    }
}

@media (max-width: 800px)
{
    .nav-item:last-child
    {
        font-size: 17px;
    }

    .nav-links
    {
        display: flex;
        flex-direction: column;
    }

    .nav-links li
    {
        margin-bottom: 10px;
    }
    
}

@media (max-width: 700px)
{
    .toggle-btn
    {
        right: 3.2rem;
    }
}

/* -------- banner Section Starts here ------------- */
.banner
{
    padding: 10px 20px 75px 20px;
    background: linear-gradient(to right, #ffffff, rgba(0, 0, 0, 0.5)), url('/images/student - Copy.jpg');
    background-size: cover;
}

.banner-container
{
    max-width: 1100px;
    width: 80%;
    margin: auto;
}

.banner-item
{
    width: 500px;
    width: 50%;
    margin-top: 0;
}

.banner-item h2
{
    margin-bottom: 25px;
}

.banner-item p
{
    text-align: justify;
    font-weight: 300;
}

.banner-item a
{
    display: block;
    margin-top: 25px;
    text-decoration: none;
    background-color: rgb(1, 95, 1);
    padding: 9px;
    width: max-content;
    color: #ffffff;
    border: 1px solid rgb(1, 95, 1);
    transition: .5s ease;
}

.banner-item a:hover
{
    background-color: transparent;
    color: rgb(1, 95, 1);
    border: 1px solid rgb(1, 95, 1);
}

@media (max-width: 800px)
{
    .banner-item
    {
        margin: auto;
        width: 100%;
    }
}
/* -------------- Know Section Starts here -------------- */
.know
{
    padding: 10px 20px 50px 20px;
    margin-top: 55px;
}

.know-container
{
    max-width: 1100px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 20px;
}

.know-inner h4
{
    color: rgb(1, 95, 1);
}

.know-inner a
{
    /* display: block; */
    text-decoration: none;
    background-color: rgb(1, 95, 1);
    padding: 9px;
    /* width: max-content; */
    color: #ffffff;
    border: 1px solid rgb(1, 95, 1);
    transition: .5s ease;
}

.know-inner a:hover
{
    background-color: #ffffff;
    color: rgb(1, 95, 1);
    border: 1px solid rgb(1, 95, 1);
}

.know-inner p
{
    font-weight: lighter;
}

@media(max-width: 800px)
{
    .know-container
    {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media(max-width: 600px)
{
    .know-container
    {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 400px)
{
    
}
/* ---------------- Agenda Section ------------------- */
.agenda
{
    padding: 10px 20px;
    background-color: #f7f5f5;
}

.agenda-container
{
    max-width: 1100px;
    width: 80%;
    margin: auto;
}

.agenda-container > img
{
    width: 60%;
    margin: auto;
    display: flex;
    align-self: center;
}

/* ------------ About Section --------------- */
.about
{
    padding: 30px 20px;
}

.about-container
{
    max-width: 1500px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.about-item
{
    /* background-color: #9e9c9c; */
    display: flex;
    align-items: center;
    
}

.about-item > img
{
    width: 100%;
    margin: auto;
}

.write-up
{
    max-width: 1100px;
    width: 80%;
    margin: auto;
}

.write-up p
{
    font-weight: 300;
    line-height: 35px;
    text-align: justify;
}

.write-up p a
{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    background-color: #e45c02;
    transition: .5s ease;
    border: 1px solid #e45c02;
}

.write-up p a:hover
{
    text-decoration: none;
    color: #e45c02;
    padding: 5px 10px;
    background-color: #ffffff;
    transition: .5s ease;
    border: 1px solid #e45c02;
}

@media (max-width: 800px)
{
    .about-container
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}

@media (max-width: 600px)
{
    .about-container
    {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (max-width: 400px)
{
    .about-container
    {
        grid-template-columns: 1fr;
    }
    
}
/* ------------- Vision Section ---------------- */
.vision
{
    padding: 35px 20px;
    background-color: #f7f5f5;
}

.vision-container
{
    display: grid;
    max-width: 1100px;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.vision-item
{
    padding: 0 10px;
    font-weight: 300;
}

.vision-item:first-child
{
    border-right: 1px solid #000000;
}

.vision-item:first-child p
{
    font-weight: bold;
}

.vision-item p:first-child
{
    margin-bottom: 45px;
}

.v-item h4
{
    color:rgb(1, 95, 1);
}

@media (max-width: 730px)
{
    .vision-container
    {
        grid-template-columns: 1fr;
    }

    .vision-item:first-child
    {
        border-bottom: 1px solid #000000;
        border-right: none;
    }
}
/* ---------------- Showcase Section ------------- */
.showcase
{
    padding: 55px 20px;
}

.showcase-container
{
    max-width: 1100px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.flip-card
{
    background-color: transparent;
    padding: 10px;
    width: 100%;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.flip-card:hover .flip-card-inner
{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front
{
    background-color: rgb(1, 95, 1);
    color: #ffffff;
    display: flex;
    align-items: center;
}

.flip-card-front h4
{
    margin: auto;
    font-size: 20px;
}

.flip-card-back{
    background-color: #000000;
    color: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
}

@media (max-width: 750px)
{
    .showcase-container
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px)
{
    .showcase-container
    {
        grid-template-columns: 1fr;
    }
}
/* ------------ Event Section ---------------- */
.event
{
    padding: 75px 20px 85px 20px;
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.8)), url("./images/conference.jpeg");
    background-size: cover;
    color: #ffffff;
}

.event h3
{
    font-size: 25px;
}

.event h2
{
    font-size: 40px;
    margin-bottom: 35px;
}

.event-container
{
    max-width: 1100px;
    width: 80%;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

.event a
{
    text-decoration: none;
    background-color: #e45c02;
    padding: 5px;
    border: 1px solid #e45c02;
    color: #ffffff;
    transition: .5s ease;
}

.event a:hover
{
    background-color: transparent;
    padding: 5px;
    border: 1px solid #e45c02;
    color: #e45c02;
}


@media (max-width: 750px)
{
    .event-container
    {
        grid-template-columns: 1fr 1fr;
    }

    .event h3
    {
        font-size: 15px;
    }
    
    .event h2
    {
        font-size: 30px;
    }
}

@media (max-width: 650px)
{
    .event-container
    {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px)
{
    .event-container
    {
        grid-template-columns: 1fr;
    }

    .anchor
    {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
/* ----------------Action Section ---------------- */
.task
{
    padding: 75px 20px;
}

.task h4
{
    width: 80%;
    margin: auto;
    margin-bottom: 25px; 
    font-size: 30px;   
}

.task-container
{
    display: grid;
    max-width: 1100px;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.task-container a
{
    text-decoration: none;
    text-align: center;
    background-color: rgb(1, 95, 1);
    color: #ffffff;
    padding: 9px;
}

@media (max-width: 750px)
{
    .task-container
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px)
{
    .task-container
    {
        grid-template-columns: 1fr;
    }
}
/* ----------------- Blog Section ------------------ */
.blogs
{
    padding: 75px 20px;
    background-color: #f7f5f5;
}

.blogs-container
{
    max-width: 1100px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.blogs-item
{
    padding: 10px;
}

.blogs-item h4
{
    font-size: 20px;
    color: rgb(1, 95, 1);
}

.blogs-item a
{
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(1, 95, 1);
    border: 1px solid rgb(1, 95, 1);
    padding: 5px;
    transition: .5s ease;
}

.blogs-item a:hover
{
    
    color: rgb(1, 95, 1);
    background-color: #ffffff;
    border: 1px solid rgb(1, 95, 1);
}

.item
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;
    padding: 5px 0;
}

.item > img
{
    width: 70px;
    height: 70px;
}

.blogs-item:first-child,
.blogs-item:nth-child(2)
{
    border-right: 1px solid #000000;
}

@media (max-width: 750px)
{
    .blogs-container
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px)
{
    .blogs-container
    {
        grid-template-columns: 1fr;
    }

    .blogs-item:first-child,
    .blogs-item:nth-child(2)
    {
        border-bottom: 1px solid rgb(1, 95, 1);
        border-right: none;
        margin-bottom: 15px;
    }
}


/* ----------- Not Found Page -------------- */
.notfound
{
    padding: 35px 20px;
    background-color: #f1f1f1;
}

.notfound-container
{
    max-width: 1100px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.not-item
{
    margin-bottom: 15px;
}

.not-item h1
{
    font-size: 150px;
}

.not-item h4
{
    font-size: 40px;
}

.not-item a
{
    text-decoration: none;
    background-color: rgb(1, 95, 1);
    border: 1px solid rgb(1, 95, 1);
    color: #ffffff;
    padding: 7px;
    transition: .5s ease;
}

.not-item a:hover
{
    color: rgb(1, 95, 1);
    border: 1px solid rgb(1, 95, 1);
    background-color: #ffffff;
}

@media (max-width: 750px)
{
    .not-item h1
    {
        font-size: 90px;
    }
    
    .not-item h4
    {
        font-size: 20px;
    }
}
/* ------------- Footer Section ---------------- */
.footer
{
    padding: 75px 20px;
    background-color: rgb(1, 17, 1);
    color: #ffffff;
}

.footer-container
{
    max-width: 1100px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.footer-item h3
{
    margin-bottom: 20px;
    color: #e45c02;
}

.footer-item p
{
    font-weight: 300;
    margin-bottom: 15px;
}

.footer-item ul
{
    display: flex;
}

.footer-item ul li 
{
    list-style: none;
}

.footer-item li a
{
    margin-right: 10px;
}

.footer-item ul li img
{
    width: 50px;
    height: 50px;
}

.down
{
    background-color: #000000;
    color: white;
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
}

.form input
{
    width: 70%;
    padding: 6px 7px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.form button
{
    padding: 5px;
    color: #ffffff;
    background-color: #e45c02;
    display: flex;
    cursor: pointer;
    margin-top: 15px;
    border: none;
    outline: none;
    transition: .5s ease-in-out;
    align-items: center;
}

.form button:hover
{
    transform: scale(1.1);
}

.submit img 
{
    width: 30px;
    height: 30px;
}

@media (max-width: 750px)
{
    .footer-container
    {
        grid-template-columns: 1fr 1fr;
    }
    
    .footer-item p
    {
        font-size: 13px;
    }
}

@media (max-width: 650px)
{
    .footer-container
    {
        grid-template-columns: 1fr;
    }

    .footer-item p
    {
        font-size: 12px;
    }

    .footer-item ul li img
    {
        width: 20px;
        height: 20px;
    }
}